*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
build.gradle
build.gradle
gradle/wrapper/gradle-wrapper.properties
gradle/wrapper/gradle-wrapper.properties
build.gradle
build.gradle
*.gradle
.idea/misc.xml
build.gradle
gradle/wrapper/gradle-wrapper.properties
